name: Build

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - '.gitattributes'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 14
        uses: actions/setup-java@v1
        with:
          java-version: 14.0.1
      - name: Set executable flag on gradlew
        run: chmod +x gradlew
      - name: Execute tests
        run: ./gradlew test